numpy==1.23.5
pandas==2.0.1
streamlit==1.32.0
scikit-learn==1.2.2
pydeck==0.8.0
matplotlib==3.7.1
seaborn==0.12.2
openpyxl==3.1.2
setuptools>=65.5.1
wheel>=0.38.4
huggingface_hub>=0.15.0
sentence-transformers==2.2.2
transformers==4.30.2
torch==2.0.1